* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-primario: #D96C2C;
    --color-secundario: #f4f4f4;
    --color-terciario: #ccc;
    --color-texto: #222;
    --color-fondo: #fff;
    --espaciado-chico: 0.5rem;
    --espaciado-chico-medio: 0.7rem;
    --espaciado-medio: 1rem;
    --espaciado-grande: 2rem;
    --radio-borde: 8px;
}

body {
    font-family: sans-serif;
    color: var(--color-texto);
    background-color: var(--color-fondo);
}

/*-------- Seccion Header --------*/

#header-principal {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: var(--espaciado-chico-medio);
    align-items: center;
    border-bottom: 1px solid #ccc;
}

h1 {
    color: var(--color-primario);
}

#nav-principal {
    width: 100%;
}

#nav-principal:not(.oculto) {
    display: flex;
    flex-direction: column;
    gap: var(--espaciado-chico);
    position: absolute;
    top: 60px;
    left: 0;
    background-color: var(--color-fondo);
    padding: var(--espaciado-medio);
}

#btnMenu {
    display: flex;
    border: none;
    background: none;
    cursor: pointer;
    flex-direction: column;
    gap: 3px;
}

.barra {
    width: 25px;
    height: 4px;
    background-color: var(--color-primario);
    border-radius: var(--radio-borde);
}

.oculto {
    display: none; 
}

#logo {
    height: 40px;
    width: auto;
}

/*-------- Queries Header --------*/

@media (min-width: 768px) {
    #header-principal {
        justify-content: space-between;
        align-items: center;
    }
    #btnMenu {
        display: none;
    }
    #nav-principal {
        display: flex !important;
        flex-direction: row;
        position: static;
        justify-content: flex-end;
        padding: 0;
        gap: var(--espaciado-medio);
    }
}

/*-------- Ends Header --------*/

/*-------- Seccion Tarjetas --------*/

#resultados {
    display: flex;
    flex-direction: column;
    gap: var(--espaciado-chico);
}

.receta-card {
    display: flex;
    margin-top: var(--espaciado-chico);
    flex-direction: row;
    align-items: center;
    gap: var(--espaciado-chico);
    padding: var(--espaciado-medio);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    background-color: var(--color-secundario);
    border-radius: var(--radio-borde);
    margin-left: var(--espaciado-chico);
    margin-right: var(--espaciado-chico);;
}

.receta-card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: var(--radio-borde);
}


.receta-info {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.receta-info p:first-child {
    font-weight: 700;
}

.receta-info p:last-child {
    opacity: 0.7;
    color: var(--color-texto);
}

.btn-favorito {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 24px;
    color: #ccc; 
}

.btn-favorito.activo {
    color: var(--color-primario); 
}

.btn-ver-receta, #btnConfirmarAsignar {
    padding: var(--espaciado-chico);
    background-color: var(--color-primario);
    color: var(--color-secundario);
    border-radius: var(--radio-borde);
    border: none;
    cursor: pointer;
}

.btn-agregar-plan {
    padding: var(--espaciado-chico);
    background-color: transparent;
    color: var(--color-primario);
    border: 1px solid var(--color-primario);
    border-radius: var(--radio-borde);
    cursor: pointer;
}

#modal-receta, #modal-asignar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

#modal-receta.oculto, #modal-asignar.oculto {
    display: none;
}

.modal-contenido {
    background-color: var(--color-fondo);
    padding: var(--espaciado-grande);
    border-radius: var(--radio-borde);
    max-width: 500px;
    width: 90%;
    max-height: 80vh;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
}

#btnCerrarModal, #btnCerrarAsignar, .btn-eliminar-plan {
    position: absolute;
    font-size: 20px;
    top: 5px;
    right: 10px;
    background: none;
    border: none;
    color: var(--color-primario);
    cursor: pointer;
    font-weight: 900;
}

#btnCerrarModal:hover, #btnCerrarAsignar:hover, #btnConfirmarAsignar:hover, .btn-eliminar-plan:hover{
    opacity: 0.8;
}

.receta-detallada-wrapper img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    display: block;
    border-radius: var(--radio-borde);
}

.receta-detallada-wrapper .receta-detallada-titulo {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: var(--espaciado-chico);
}

.receta-detallada-wrapper .receta-detallada-categoria {
    display: inline-block;
    background-color: var(--color-secundario);
    color: var(--color-texto);
    font-size: 0.8rem;
    padding: 2px 10px;
    border-radius: var(--radio-borde);
    margin-top: var(--espaciado-chico);
}

.modal-subtitulo {
    font-size: 1.1rem;
    margin-top: var(--espaciado-grande);
    margin-bottom: var(--espaciado-chico);
}

.modal-contenido ul {
    list-style: none;
    padding-left: 0;
}

.modal-contenido li {
    margin-bottom: var(--espaciado-chico);
    line-height: 1.4;
}

.modal-contenido p {
    line-height: 1.6;
}

label {
    display: block;
    margin-top: var(--espaciado-chico-medio);
}

select {
    width: 100%;
    padding: var(--espaciado-chico-medio);
    border-radius: var(--radio-borde);
}

select:last-of-type {
    margin-bottom: var(--espaciado-chico-medio);
}


/*-------- Queries Tarjetas --------*/
@media (min-width: 768px) {
    #resultados {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
        gap: var(--espaciado-chico);
        margin-left: var(--espaciado-grande);
        margin-right: var(--espaciado-grande);
    }
    .receta-card {
        flex-direction: column;
    }
    .receta-card img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: var(--radio-borde);
    }
}

/*-------- Tarjetas ENDS --------*/

/*-------- Seccion Planificador --------*/

#planificador {
    display: flex;
    flex-direction: column;
    gap: var(--espaciado-medio);
    margin: var(--espaciado-chico);
}

#planificador.oculto {
    display: none;
}

.dia {
    background-color: var(--color-secundario);
    padding: var(--espaciado-chico-medio);
    border-radius: var(--radio-borde);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.dia h3 {
    font-size: 1.5rem;
}

.franja {
    margin-top: var(--espaciado-chico);
    border-top: 1px solid #ccc;
}

.franja-titulo {
    font-weight: 400;
    opacity: 0.7;
}

.franja-recetas {
    display: flex;
    flex-direction: column;
    gap: var(--espaciado-chico);
    min-height: 40px;
}

.receta-plan-card {
    position: relative;
    display: flex;
    align-items: center;
    gap: var(--espaciado-chico);
    background-color: var(--color-fondo);
    border-radius: var(--radio-borde);
    padding: var(--espaciado-chico);
    padding-right: var(--espaciado-medio);
    font-size: 0.8rem;
}

.receta-plan-card img {
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: var(--radio-borde);
    flex-shrink: 0;
}

.receta-plan-card p {
    font-weight: 600;
}

/*-------- Queries Planificador --------*/

@media (min-width: 768px) {
    #planificador {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        margin: var(--espaciado-medio);
    }
}
